<section class="copyright py-5 text-center text-light bg-transparent">
    <div class="container-fluid">
      <small class="m-0 text-center"><strong>Copyright &copy; Nobe_Banking 2020</strong></small>
    </div>
</section>