<div class="form-row">
  <div class="col-6 col-sm-5">
     <%= image_tag "deposit", size: "100x100", class: "rounded float-left"%>  
  </div>
  <div class="col-6 col-sm-4">
     <%= image_tag "withdraw", size: "100x100", class: "rounded float-center"%>  
  </div>
  <div class="col-6 col-sm-3">
      <%= image_tag "bank_statement", size: "100x100", class: "rounded float-right"%>
  </div>
</div>