<% if customer_signed_in? == false%>
  <h5 class="card-title text-center font-weight-light text-dark">Welcome Visitor</h5>
<% else %>
  <h5 class="card-title text-center font-weight-light text-dark">Welcome <%= current_customer.first_name %></h5>
  
<%end%> 
<hr>

<%= render 'shared/operations' %>

