<%= search_form_for @search, url: search_operations_path, class: "form-inline", method: :post do |f| %>
  <div class="col-md-4">
    <%= f.text_field :created_at_gteq, class: "form-control", placeholder: "since", data: { behavior: "flatpickr" } %>
  </div>

  <div class="col-md-4">
    <%= f.text_field :created_at_lteq, class: "form-control", placeholder: "to the", data: { behavior: "flatpickr"   } %>
  </div>

  <div class="col-md-2 col-md-offset-1 form-actions">
    <%= f.submit "Search", class: "btn btn-success" %>
  </div>
<% end %>
